body{
    display: grid;
    grid-template-columns: 5fr 2fr 0,5fr 0,7fr 1fr 0,7fr 0,5fr 2fr 1fr 1fr 2fr 1fr 1fr 5fr;

}

.container{
    background-color: rgb(255, 168, 168);
    width: 55%;
    height: 70%;
}
.button_signIn{
    background-color: rgba(255, 255, 255, 0);
    border: 3px white solid;
    width: 95px;
    height: 40px;
    border-radius: 0;
}
