<body>

<div class="container">

<div class="block_with_img">
<h2>З Поверненням</h2>
<h5>Щоб залишатися з нами на зв’язку, будь ласка, увійдіть зі своїми особистими данними</h5>
<button class="button_signIn" mat-raised-button color="primary">Увійти</button>
</div>

<div class="signUp">
<h2>Створити акаунт</h2>
<a href="#"><img style="width: 20px;" src="/assets/img/facebook_icon.png" alt="facebook"></a>
<a href="#"><img style="width: 20px;" src="/assets/img/google_icon.png" alt="google"></a>
<a href="#"><img style="width: 20px;" src="/assets/img/linkedin_icon.png" alt="linkedin"></a>

<form > 

    <!-- name -->
<app-input label="Name" [control]="userName" [errorMessage]="userName.hasError('required') ? 'UserName is required' : ''"></app-input>

 <!-- email -->
<app-input label="Email" [control]="email" [errorMessage]="email.hasError('email') && !email.hasError('required') ? 'Please enter a valid email address' : 'Email is required'"></app-input>

<!-- password -->
<app-input label="Password" [control]="password" [errorMessage]="password.hasError('required') ? 'Password is required' : 'Min length of password is 8'"></app-input>

 
  
  </form>
</div>

</div>

</body>
